<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Copyright -->
    <div class="fixed-bottom navbar navbar-expand-lg navbar-dark bg-dark">© 2020 Copyright:
        <a href="/">EmanuelVolpe.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</body>

</html>